.page.-blog-list {
  padding-bottom: var(--margin-04);
}

.page.-blog-list .hero {
  margin-bottom: var(--margin-04);
}

.blog-filter {
  text-align: center;
  color: var(--purple);
  font-size: 2em;
  margin-bottom: var(--margin-04);
}

.blog-list {
  width: 100%;
  display: grid;
  grid-gap: var(--margin-04);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* margin-top: var(--margin-06); */
}
