.blog-item {
  display: flex;
  flex-flow: column;
}

.blog-item .item-cover {
  display: block;
  height: 300px;
  overflow: hidden;
  border-radius: var(--margin-02) var(--margin-02) 0 0;
}

.blog-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.blog-item .rich-text {
  flex: 1 0 auto;
  margin: 0;
  border: 2px solid var(--light-gray);
  border-top: none;
  background: var(--white);
  padding: var(--margin-02);
  padding-bottom: var(--margin-04);
  border-radius: 0 0 var(--margin-02) var(--margin-02);
}

@media screen and (min-width: 700px) {
  .blog-item.-horizontal {
    flex-flow: row;
    overflow: hidden;
  }

  .blog-item.-horizontal .item-cover {
    border-radius: var(--margin-02) 0 0 var(--margin-02);
    flex: 0 0 auto;
  }

  .blog-item.-horizontal .rich-text {
    flex: 1 1 50%;
    border-radius: 0 var(--margin-02) var(--margin-02) 0;
    border: 2px solid var(--light-gray);
    border-left: none;
  }
  .blog-item.-horizontal img {
    width: auto;
    height: 300px;
    display: block;
    object-fit: cover;
  }
}
