.page.-blog-detail {
  padding-bottom: var(--margin-04);
}

.-blog-detail .hero h1 {
  margin-top: var(--margin-04);
}

.-blog-detail .hero .entry-info {
  margin-top: var(--margin-02);
  padding-top: var(--margin-02);
  border-top: 2px solid var(--black);
  display: flex;
  flex-flow: row;
}

.-blog-detail .hero .entry-info a {
  color: var(--black);
}

.-blog-detail .hero .entry-info a:not(:last-child) {
  margin-right: var(--margin-02);
}

.-blog-detail .content {
  max-width: 750px;
}

.-blog-detail .blog-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: var(--margin-04);
  margin-bottom: var(--margin-04);
  border-radius: var(--margin-02);
}

.-blog-detail .tags {
  margin-top: var(--margin-04);
}

.-blog-detail .tags,
.-blog-detail .tag-list {
  display: flex;
  flex-flow: row;
}

.-blog-detail .tag-list {
  flex-flow: row wrap;
}

.-blog-detail .tags span {
  margin-right: var(--margin-01);
}

.-blog-detail .tags li:not(:last-child) {
  margin-right: var(--margin-h);
}

.-blog-detail .tags a {
  color: var(--purple);
  transition: color 0.2s ease;
}

.-blog-detail .tags a:hover {
  color: var(--blue);
}

.-blog-detail .social-share {
  display: flex;
  flex-flow: row;
  margin-bottom: var(--margin-04);
}

.-blog-detail .-button {
  color: var(--white);
  width: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--margin-01);
  padding: var(--margin-01) var(--margin-02);
  text-decoration: none;
}

.-blog-detail .-button svg {
  margin-right: var(--margin-01);
}

.-blog-detail .social-share .-button:not(:last-child) {
  margin-right: var(--margin-02);
}

.-blog-detail .twitter-share {
  background: var(--tw);
}

.-blog-detail .facebook-share {
  background: var(--fb);
}

@media screen and (max-width: 800px) {
  .-blog-detail .hero .entry-info {
    flex-flow: column;
  }
  .-blog-detail .entry-date {
    margin-bottom: var(--margin-02);
  }
}
