#contact {
}

#contact .wrapper {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  width: 100%;
  min-height: calc(100vh - 70px);
  max-width: none;
}

#contact .rich-text-container {
  /* text-align: center; */
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: var(--margin-10) var(--margin-04);
}

#contact .rich-text {
  max-width: 48ch;
}

#contact .map-container {
  border-radius: 0px var(--margin-04) 0px 0px;
  overflow: hidden;
  flex: 0 1 50%;
  background: whitesmoke;
}

#contact .map-container iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  #contact .wrapper {
    flex-flow: column;
  }

  #contact .map-container {
    width: 100%;
    min-height: 50vh;
    flex: 1 1 auto;
  }
}
