body,
html {
  font-family: var(--font);
  color: var(--black);
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

p {
}

.link-padding {
  margin-top: -68px; /* Size of fixed header */
  padding-bottom: 68px;
  display: block;
}

.wrapper {
  width: 90%;
  max-width: var(--max-width-01);
  margin: 0 auto 0 auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  border-radius: var(--margin-02);
  padding: var(--margin-03);
  background: var(--purple);
  /* background: linear-gradient(to bottom, #74ceec, #649beb); */
  color: var(--white);
  text-decoration: none;
  border: 2px solid var(--blue);
  transition: background 0.2s ease;
}

.button:hover {
  background: var(--blue);
}

.button:not(:last-child) {
  margin-right: var(--margin-02);
}

.button svg {
  margin-right: var(--margin-02);
}

@media screen and (max-width: 800px) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  .hide-desktop {
    display: none !important;
  }
}
