#footer {
  /* margin-top: var(--margin-06); */
  background: var(--black);
  color: white;
  padding: var(--margin-06) 0;
}

#footer .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

#footer .footer-info p:not(:last-child) {
  margin-bottom: var(--margin-02);
}

#footer .contact-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#footer .contact-list a:not(:last-child) {
  margin-bottom: var(--margin-02);
}

#footer .contact-list a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-decoration: none;
}

#footer .contact-list a svg {
  margin-right: var(--margin-01);
  transition: color 0.2s ease;
}

#footer .contact-list a:hover {
  color: var(--blue);
}

@media screen and (max-width: 800px) {
  #footer .wrapper {
    flex-flow: column-reverse;
  }

  #footer .footer-info {
    width: 100%;
  }

  #footer .contact-list {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--margin-04);
  }
}
