input:not([class]) {
  border: 2px solid var(--black);
  color: var(--black);
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: var(--margin-01);
  transition: color 0.2s ease;
}

input[type='submit']:not([class]),
button {
  color: var(--black);
  border-color: var(--gold-01);
  background: var(--gold-02);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: var(--margin-01);
  transition: color 0.2s ease;
}

label {
  display: flex;
  flex-flow: column;
}

label span {
  margin-bottom: var(--margin-01);
}
