#header {
  padding: var(--margin-02) 0;
  background: var(--white);
  position: sticky;
  top: 0;
}

#header .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  max-width: none;
}

#header nav ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

#header .logo {
  display: block;
  width: 200px;
  height: auto;
}

#header nav ul a {
}

#header nav ul a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: var(--black);
  padding-bottom: var(--margin-h);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  transform: translateY(4px);
}

#header nav ul li:not(:last-child) {
  margin-right: var(--margin-04);
}

#header nav ul a span {
  /* margin-bottom: -4px; */
}

#header nav ul a svg:not(:only-child) {
  margin-right: var(--margin-01);
}

#header nav ul a:not(.social).-active,
#header nav ul a:not(.social):hover {
  color: var(--blue);
  border-bottom-color: currentcolor;
}

#header nav ul li:nth-child(1) a:hover {
  color: var(--green);
}

#header nav ul li:nth-child(2) a:hover {
  color: var(--orange);
}

#header nav ul li:nth-child(3) a:hover {
  color: var(--purple);
}

#header nav ul a.twitter:hover {
  color: var(--tw);
}

#header nav ul a.facebook:hover {
  color: var(--fb);
}

#header nav ul a.instagram:hover {
  color: var(--orange);
}

@media screen and (max-width: 800px) {
  #header .wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  #header .logo {
    margin-bottom: var(--margin-02);
  }

  #header nav ul li:not(:last-child) {
    margin-right: var(--margin-02);
  }

  #header nav ul a svg:not(:only-child) {
    display: none;
  }
}
