.hero {
  padding: var(--margin-06) 0;
  background-color: var(--blue);
  background-image: url('/static/img/gradient.png');
  background-size: cover;
}

.hero .wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  gap: var(--margin-06);
}

.hero img.logo {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
}

.hero .blog-item {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .hero .blog-item {
    max-width: 300px;
  }
}
