.-home .info-block {
  display: flex;
  min-height: 60vh;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: var(--margin-06) 0;
  color: var(--white);
}

.-home .info-block .rich-text {
  margin: 0;
}

.-home .info-block .wrapper {
  display: flex;
}

.-home .info-block.-horizontal .wrapper {
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.-home .info-block.-vertical .wrapper {
  flex-flow: column;
  align-items: center;
}

.-home .info-block img {
  height: auto;
  display: block;
  border-radius: var(--margin-02);
}

.-home .info-block.-vertical img {
  width: 50%;
  max-width: 500px;
  margin-bottom: var(--margin-04);
}

.-home .info-block.-horizontal img {
  flex: 1 0 auto;
  max-width: 480px;
  margin-right: var(--margin-04);
}

.page.-home .info-block.when {
  background: linear-gradient(to right, #32c3c4, #24afc9);
}

.page.-home .info-block.who {
  background: var(--white);
  color: var(--black);
}

.-home .info-block:nth-child(odd) {
  background: var(--green);
}

.-home .info-block:nth-child(even) {
  background: var(--purple);
}

@media screen and (max-width: 800px) {
  .-home .info-block.-horizontal .wrapper {
    flex-flow: column;
  }

  .-home .info-block.-horizontal img {
    width: 100%;
    margin: 0;
    margin-bottom: var(--margin-02);
  }
}
