.pagination {
  margin-top: var(--margin-04);
}

.pagination .wrapper,
.pagination .step-links,
.pagination a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: var(--purple);
  transition: all 0.2s ease;
}

.pagination a:hover {
  color: var(--dark-purple);
}
