.rich-text > * + * {
  margin-top: var(--margin-02);
}

/* .rich-text *::selection { */
/*   background: var(--highlight-soft); */
/* } */

/* .rich-text *::-moz-selection { */
/*   background: var(--highlight-soft); */
/* } */

.rich-text p {
  overflow-wrap: break-word;
}

.rich-text a {
  color: var(--dark-purple);
  text-decoration: underline;
  transition: all 0.2s ease;
}

.rich-text a:hover {
  color: var(--purple);
}

.rich-text p a {
  font-size: 1em;
}

.rich-text img {
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.rich-text blockquote p {
  margin: 0;
  max-width: none;
}

.rich-text em {
  font-style: italic;
}

.rich-text strong {
  font-weight: bold;
}

.rich-text hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-dolor: var(--black);
}

.rich-text .ckeditor-html5-video {
  width: 100%;
  border-radius: var(--margin-02);
  overflow: hidden;
}

.rich-text .ckeditor-html5-video video {
  width: 100%;
  max-width: none;
  border-radius: var(--margin-02);
  overflow: hidden;
}
