.therapy-grid {
  width: 100%;

  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */

  display: grid;
  grid-gap: var(--margin-04);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.therapy-grid > .-maximize {
  grid-column: 1/-1;
}

.therapy-grid .therapy-card {
}

@media screen and (max-width: 700px) {
  .therapy-grid {
    max-width: 300px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}
