.therapist-list-wrapper {
  padding-top: var(--margin-04);
  padding-bottom: var(--margin-04);
  min-height: 60vh;
}

.therapist-list-wrapper > .rich-text-container {
  margin-bottom: var(--margin-04);
}
.therapist-list-wrapper > .rich-text-container .rich-text {
  max-width: 68ch;
  margin: auto;
}

.therapist-list {
  max-width: 1320px;
  margin: auto;
  display: grid;
  grid-gap: var(--margin-04);
  grid-template-columns: repeat(2, 1fr);
}

.therapist-item {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: var(--margin-02);
  overflow: hidden;
  /* padding: var(--margin-02) var(--margin-02); */

  background-color: var(--blue);
  background-image: url('/static/img/gradient.png');
  background-size: cover;
}

.therapist-item:not(:last-child) {
  /* margin-right: var(--margin-05); */
}

/* .therapist-item:nth-child(odd) { */
/*   flex-flow: row-reverse; */
/* } */

.therapist-item .rich-text-container {
  flex: 1 1 40%;
  display: flex;
  flex-flow: column;
  margin-top: 0;
  padding: var(--margin-08) var(--margin-04);
  color: var(--dark-purple);
  align-items: center;
  justify-content: center;
}

.therapist-item a {
  color: var(--purple);
  transition: color 0.2s ease;
}

.therapist-item a:hover {
  color: var(--blue);
}

.therapist-item:not(:last-child) {
  /* margin-bottom: var(--margin-06); */
}

.therapist-item:nth-child(odd) img {
  /* border-radius: 71% 29% 50% 50% / 40% 27% 73% 60%; */
}

.therapist-item:nth-child(even) img {
  /* border-radius: 42% 58% 67% 33% / 38% 30% 70% 62%; */
}

.therapist-item img {
  width: 300px;
  height: 100%;
  background: var(--blue);
  object-fit: cover;
  /* border-radius: 50%; */
}
.therapist-item .whats-app svg {
  height: 25px;
  width: auto;
  display: block;
}

.therapist-item .rich-text-container {
}

@media screen and (max-width: 1200px) {
  .therapist-item {
    align-items: stretch;
    flex-flow: column;
  }

  .therapist-item .rich-text-container {
    padding: var(--margin-05) var(--margin-02);
  }

  .therapist-item img {
    height: auto;
    width: 100%;
    max-height: 300px;
    /* margin-right: 0; */
    /* margin-bottom: var(--margin-04); */
  }
}

@media screen and (max-width: 800px) {
  .therapist-list-wrapper {
    padding: var(--margin-02) var(--margin-02);
    padding-bottom: var(--margin-04);
  }

  .therapist-list {
    /* display: flex; */
    /* flex-flow: column; */
    grid-template-columns: repeat(1, 1fr);
  }
}
