.therapy-card {
  flex: 0 1 300px;
  width: auto;
  height: 100%;
}

.therapy-card a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--margin-02);
  padding: var(--margin-04) var(--margin-02);
  background: var(--green);
  color: var(--white);
  text-decoration: none;
}

.therapy-card .icon-wrapper {
  --aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  max-width: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding-top: calc((1 / (var(--aspect-ratio))) * 100%);
  margin-bottom: var(--margin-04);
}

.therapy-card img {
  padding: var(--margin-02);
  width: calc(100% - var(--margin-02));
  height: auto;
  display: block;
  object-fit: contain;
}

.therapy-card h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: var(--margin-01);
}

.therapy-card p {
  min-height: 120px;
}

@media screen and (max-width: 800px) {
  .therapy-card {
    margin: 0;
    width: 100%;
  }

  .therapy-card p {
    min-height: 0px;
  }
}

@supports (aspect-ratio: 1) {
  .therapy-card .icon-wrapper {
    aspect-ratio: var(--aspect-ratio);
    padding-top: initial;
  }
}
