:root {
  --white: #fff;

  --black: #454e69;
  --light-gray: #eeeeee;
  --gray: #888;

  --green: #5fd1b3;
  --orange: #f5c28a;
  --purple: #d17be9;
  --dark-purple: #122251;
  --blue: #79caec;
  --tw: #17a3f2;
  --fb: #026ae3;

  --font: 'Poppins', sans-serif;

  --margin-01: 8px;
  --margin-h: calc(var(--margin-01) / 2);
  --margin-q: calc(var(--margin-01) / 4);
  --margin-02: calc(var(--margin-01) * 2);
  --margin-03: calc(var(--margin-01) * 3);
  --margin-04: calc(var(--margin-01) * 4);
  --margin-05: calc(var(--margin-01) * 5);
  --margin-06: calc(var(--margin-01) * 6);
  --margin-07: calc(var(--margin-01) * 7);
  --margin-08: calc(var(--margin-01) * 8);
  --margin-09: calc(var(--margin-01) * 9);
  --margin-10: calc(var(--margin-01) * 10);
  --margin-15: calc(var(--margin-01) * 15);
  --margin-20: calc(var(--margin-01) * 20);
  --margin-30: calc(var(--margin-01) * 30);
  --margin-40: calc(var(--margin-01) * 40);

  --max-width-text: 750px;
  --max-width-01: 1024px;
  --max-width-q: calc(var(--max-width-01) * 0.25);
  --max-width-h: calc(var(--max-width-01) * 0.5);
  --max-width-02: calc(var(--max-width-01) * 2);
}
