{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favicon/apple-touch-icon.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "img/favicon/favicon-32x32.png"%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "img/favicon/favicon-16x16.png"%}">
    <link rel="manifest" href="{% static "img/favicon/site.webmanifest"%}">
    <link rel="mask-icon" href="{% static "img/favicon/safari-pinned-tab.svg"%}" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:title" content="{{title}}"/>
    <meta property="og:image" content="{{preview}}"/>
    <meta property="og:site_name" content="{{title}}"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://{{ request.get_host }}{{ request.get_full_path }}" />
    <meta property="og:description" content="{{description}}"/>

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@afk_mario" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:image" content="{{preview}}" />
    <meta name="twitter:url" content="https://{{ request.get_host }}{{ request.get_full_path }}" />
    <meta name="twitter:description" content="{{description}}"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T2VGXM35');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-840686527"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-840686527');
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-GKYD7R109Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-GKYD7R109Q');
    </script>

    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1359179201462402');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1359179201462402&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->

    <script type="text/javascript" charset="utf-8">var STATIC_PATH = "{% static './' %}"</script>
    <link rel="stylesheet" href="{% static "css/main.css"%}">
    <script src="{% static "main.js"%}" charset="utf-8"></script>
    {% block header-refs %}{% endblock %}

  </head>
  <body id="body" class="{% block body-class %}{% endblock %}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2VGXM35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% block header %}
    {% include "cms/partials/header.html" %}
    {% endblock %}

    <main id="main" class="{% block main-class %}{% endblock %}">
      {% block content %}
      {% endblock %}
    </main>

    {% block footer %}
    {% include "cms/partials/footer.html" %}
    {% endblock %}

    {% block footer-refs %}
    {% endblock %}
  </body>
</html>
