{% extends "cms/base.html" %}text 
{% load static %}
{% block main-class %}page -blog-list{% endblock %}
{% block content %}

<section class="hero -vertical">
  <div class="wrapper">
    <a href="{% url 'entry-list' %}">
      <img class="logo" src="{% static "img/logo-big.svg" %}" alt="Illic">
    </a>
  </div>
</section>

{% if filter.form.tags__name.value %}
<section class="blog-filter">
  <div class="wrapper">
    <h2>
      #{{filter.form.tags__name.value}}
    </h2>
  </div>
</section>
{% endif %}

<div class="wrapper">
  <section class="blog-list">
    {% for object in object_list %}
    <article class="blog-item">

      {% if object.image %}
      <a class="item-cover" href="{% url 'entry-detail' object.slug %}">
        <img src="{{object.image.url}}" alt="{{object.title}}">
      </a>
      {% endif %}

      <div class="rich-text">
        <a href="{% url 'entry-detail' object.slug %}">
          <h3>{{object.title}}</h3>
        </a>
        <p>
        {{object.social_description}}
        </p>
      </div>
    </article>
    {% endfor %}
  </section>
</div>

<section class="pagination">
  <div class="wrapper">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}{% if querystring %}&amp;{{ querystring }}{% endif %}">{% include 'cms/svg/chevron-left.svg'%}</a>
      {% endif %}

      {% if page_obj.paginator.num_pages > 1 %}
      <span class="current">
        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
      </span>
      {% endif %}

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}{% if querystring %}&amp;{{ querystring }}{% endif %}">{% include 'cms/svg/chevron-right.svg'%}</a>
      {% endif %}
    </span>
  </div>
</section>


{% endblock %}
