{% extends "cms/base.html" %}text 
{% load static %}
{% block main-class %}page -blog-detail{% endblock %}
{% block content %}
<section class="hero -vertical">
  <div class="wrapper">
    <a href="{% url 'entry-list' %}">
      <img class="logo" src="{% static "img/logo-big.svg" %}" alt="Illic">
    </a>
    <h1 class="blog-entry-title">{{ object.title }}</h1>
    <div class="entry-info">
      <a class="entry-date" href="{% url 'entry-detail' object.slug %}">
        {{ object.dateCreated | date:"d F, Y" }}
      </a>
      <a class="entry-author" href="{% url 'entry-list' %}?author__slug={{object.author.slug}}">{{ object.author.title }}</a>
    </div>
  </div>
</section>

<div class="wrapper content">

  {% if object.image %}
  <img class="blog-image" src="{{object.image.url}}" alt="{{object.title}}">
  {% endif %}

  <div class="social-share">
    <a
      class="twitter-share -button"
      href="http://twitter.com/share?text={{object.title | urlencode }}&url=https://{{request.get_host}}{% url 'entry-detail' object.slug %}"
      data-size="large"
      data-text="{{ object.title }}"
      data-url="https://{{ request.get_host }}{% url 'entry-detail' object.slug %}"
      rel="noopener noreferrer"
      target="_blank"
      >{% include 'cms/svg/twitter.svg' %} Twitter
    </a>

      <a 
        class="facebook-share -button"
        href="https://www.facebook.com/sharer/sharer.php?u=https://{{request.get_host}}{% url 'entry-detail' object.slug %}"
        rel="noopener noreferrer"
        target="_blank"
        >{% include 'cms/svg/facebook.svg' %} Facebook
      </a>

  </div>

  <div class="rich-text">{{ object.text | safe }}</div>

  <div class="tags">
    <span>Etiquetas: </span>
    <ul class="tag-list">
      {% for tag in object.tags.all %}
      <li>
        <a href="{% url 'entry-list' %}?tags__name={{tag.name}}">#{{ tag.name }}</li>
        </a>
        {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
