{% extends "cms/base.html" %}text 

{% load static %}

{% block main-class %}page -home{% endblock %}
{% block content %}

<section class="hero -vertical">
  <div class="wrapper">

    <img class="logo" src="{% static "img/logo-big.svg" %}" alt="Illic">

    <div class="therapy-grid">
      {% for item in list %}
      <article class="therapy-card {{item.slug}}">
        <a href="#{{item.slug}}" style="background: linear-gradient(to bottom, {{item.color01}}, {{item.color02}})">
          <div class="icon-wrapper">
            <img src="{{ item.image.url }}" alt="{{ item.title }}">
          </div>
          <h2>{{ item.title }}</h2>
          <p>{{ item.small_text }}</p>
        </a>
      </article>
      {% endfor %}
    </div>

    <article class="blog-item -horizontal -maximize">

      {% if latest_blog.image %}
      <a class="item-cover" href="{% url 'entry-detail' latest_blog.slug %}">
        <img src="{{latest_blog.image.url}}" alt="{{latest_blog.title}}">
      </a>
      {% endif %}

      <div class="rich-text">
        <a href="{% url 'entry-detail' latest_blog.slug %}">
          <h3>{{latest_blog.title}}</h3>
        </a>
        <p>
          {{latest_blog.social_description}}
        </p>
        <br>
        <a href="/blog">Puedes enterarte de más en nuestro blog</a>
      </div>
    </article>

  </div>
</section>

<section class="info-block when -horizontal">
  <article class="wrapper">
    <img src="{{ single.when_image.url }}" alt="¿Cuándo acudir a Terapia?">
    <div class="rich-text">
      <h2>¿Cuándo acudir a Terapia?</h2>
      {{ single.when | safe }}
    </div>
  </article>
</section>

<section class="info-block who -horizontal">
  <article class="wrapper">
    <img src="{{ single.who_image.url }}" alt="¿Quiénes Somos?">
    <div class="rich-text">
      <h2>¿Quiénes somos?</h2>
      {{ single.who | safe }}
    </div>
  </article>
</section>

{% for item in list %}
<section class="info-block {{item.slug}} -horizontal" id="{{item.slug}}" style="background: linear-gradient(to bottom, {{item.color01}}, {{item.color02}})">
  <article class="wrapper">
    <img src="{{ item.large_image.url }}" alt="¿Cuándo acudir a Terapia?">
    <div class="rich-text">
      <h2>{{ item.title }}</h2>
      {{ item.text | safe }}
    </div>
  </article>
</section>
{% endfor %}

<span id="agendar-cita" class="link-padding">&nbsp;</span>

<section id="therapist-list-wrapper" class="therapist-list-wrapper">
  <div class="rich-text-container wrapper">
    <div class="rich-text">
      {{single.message | safe}}
    </div>
  </div>
  <div class="therapist-list wrapper">
    {% for item in list_therapist %}
    <article class="therapist-item">
      <img class="avatar" src="{{ item.image.url }}" alt="{{ item.slug }}">
      <div class="rich-text-container">
        <div class="rich-text">
          <p>Terapeuta</p>
          <p>{{ item.title }}</p>
          <p><a href="tel:{{ item.phone }}">{{ item.phone }}</a></p>
          <p><a class="whats-app" href="https://api.whatsapp.com/send?phone={{ item.phone }}">{% include 'cms/svg/wa.svg' %}</a></p>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>

<section id="contact">
  <div class="wrapper">
    <div class="rich-text-container">
      <div class="rich-text">
        {{single.address | safe}}
      </div>
    </div>
  </div>
</section>

{% endblock %}
