*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],figure,blockquote,dl,dd{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){-webkit-text-decoration-skip:ink;text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){-webkit-filter:blur(10px);filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{-webkit-animation-duration:.01ms !important;animation-duration:.01ms !important;-webkit-animation-iteration-count:1 !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}


:root {
  --white: #fff;

  --black: #454e69;
  --light-gray: #eeeeee;
  --gray: #888;

  --green: #5fd1b3;
  --orange: #f5c28a;
  --purple: #d17be9;
  --dark-purple: #122251;
  --blue: #79caec;
  --tw: #17a3f2;
  --fb: #026ae3;

  --font: 'Poppins', sans-serif;

  --margin-01: 8px;
  --margin-h: calc(var(--margin-01) / 2);
  --margin-q: calc(var(--margin-01) / 4);
  --margin-02: calc(var(--margin-01) * 2);
  --margin-03: calc(var(--margin-01) * 3);
  --margin-04: calc(var(--margin-01) * 4);
  --margin-05: calc(var(--margin-01) * 5);
  --margin-06: calc(var(--margin-01) * 6);
  --margin-07: calc(var(--margin-01) * 7);
  --margin-08: calc(var(--margin-01) * 8);
  --margin-09: calc(var(--margin-01) * 9);
  --margin-10: calc(var(--margin-01) * 10);
  --margin-15: calc(var(--margin-01) * 15);
  --margin-20: calc(var(--margin-01) * 20);
  --margin-30: calc(var(--margin-01) * 30);
  --margin-40: calc(var(--margin-01) * 40);

  --max-width-text: 750px;
  --max-width-01: 1024px;
  --max-width-q: calc(var(--max-width-01) * 0.25);
  --max-width-h: calc(var(--max-width-01) * 0.5);
  --max-width-02: calc(var(--max-width-01) * 2);
}

body,
html {
  font-family: var(--font);
  color: var(--black);
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

p {
}

.link-padding {
  margin-top: -68px; /* Size of fixed header */
  padding-bottom: 68px;
  display: block;
}

.wrapper {
  width: 90%;
  max-width: var(--max-width-01);
  margin: 0 auto 0 auto;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  border-radius: var(--margin-02);
  padding: var(--margin-03);
  background: var(--purple);
  /* background: linear-gradient(to bottom, #74ceec, #649beb); */
  color: var(--white);
  text-decoration: none;
  border: 2px solid var(--blue);
  transition: background 0.2s ease;
}

.button:hover {
  background: var(--blue);
}

.button:not(:last-child) {
  margin-right: var(--margin-02);
}

.button svg {
  margin-right: var(--margin-02);
}

@media screen and (max-width: 800px) {
  .hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 800px) {
  .hide-desktop {
    display: none !important;
  }
}

#header {
  padding: var(--margin-02) 0;
  background: var(--white);
  position: sticky;
  top: 0;
}

#header .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  max-width: none;
}

#header nav ul {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

#header .logo {
  display: block;
  width: 200px;
  height: auto;
}

#header nav ul a {
}

#header nav ul a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: var(--black);
  padding-bottom: var(--margin-h);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
  transform: translateY(4px);
}

#header nav ul li:not(:last-child) {
  margin-right: var(--margin-04);
}

#header nav ul a span {
  /* margin-bottom: -4px; */
}

#header nav ul a svg:not(:only-child) {
  margin-right: var(--margin-01);
}

#header nav ul a:not(.social).-active,
#header nav ul a:not(.social):hover {
  color: var(--blue);
  border-bottom-color: currentcolor;
}

#header nav ul li:nth-child(1) a:hover {
  color: var(--green);
}

#header nav ul li:nth-child(2) a:hover {
  color: var(--orange);
}

#header nav ul li:nth-child(3) a:hover {
  color: var(--purple);
}

#header nav ul a.twitter:hover {
  color: var(--tw);
}

#header nav ul a.facebook:hover {
  color: var(--fb);
}

#header nav ul a.instagram:hover {
  color: var(--orange);
}

@media screen and (max-width: 800px) {
  #header .wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }

  #header .logo {
    margin-bottom: var(--margin-02);
  }

  #header nav ul li:not(:last-child) {
    margin-right: var(--margin-02);
  }

  #header nav ul a svg:not(:only-child) {
    display: none;
  }
}

#footer {
  /* margin-top: var(--margin-06); */
  background: var(--black);
  color: white;
  padding: var(--margin-06) 0;
}

#footer .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

#footer .footer-info p:not(:last-child) {
  margin-bottom: var(--margin-02);
}

#footer .contact-list {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
#footer .contact-list a:not(:last-child) {
  margin-bottom: var(--margin-02);
}

#footer .contact-list a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-decoration: none;
}

#footer .contact-list a svg {
  margin-right: var(--margin-01);
  transition: color 0.2s ease;
}

#footer .contact-list a:hover {
  color: var(--blue);
}

@media screen and (max-width: 800px) {
  #footer .wrapper {
    flex-flow: column-reverse;
  }

  #footer .footer-info {
    width: 100%;
  }

  #footer .contact-list {
    width: 100%;
    align-items: flex-start;
    margin-bottom: var(--margin-04);
  }
}

input:not([class]) {
  border: 2px solid var(--black);
  color: var(--black);
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: var(--margin-01);
  transition: color 0.2s ease;
}

input[type='submit']:not([class]),
button {
  color: var(--black);
  border-color: var(--gold-01);
  background: var(--gold-02);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: var(--margin-01);
  transition: color 0.2s ease;
}

label {
  display: flex;
  flex-flow: column;
}

label span {
  margin-bottom: var(--margin-01);
}

.rich-text > * + * {
  margin-top: var(--margin-02);
}

/* .rich-text *::selection { */
/*   background: var(--highlight-soft); */
/* } */

/* .rich-text *::-moz-selection { */
/*   background: var(--highlight-soft); */
/* } */

.rich-text p {
  overflow-wrap: break-word;
}

.rich-text a {
  color: var(--dark-purple);
  text-decoration: underline;
  transition: all 0.2s ease;
}

.rich-text a:hover {
  color: var(--purple);
}

.rich-text p a {
  font-size: 1em;
}

.rich-text img {
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.rich-text blockquote p {
  margin: 0;
  max-width: none;
}

.rich-text em {
  font-style: italic;
}

.rich-text strong {
  font-weight: bold;
}

.rich-text hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border-dolor: var(--black);
}

.rich-text .ckeditor-html5-video {
  width: 100%;
  border-radius: var(--margin-02);
  overflow: hidden;
}

.rich-text .ckeditor-html5-video video {
  width: 100%;
  max-width: none;
  border-radius: var(--margin-02);
  overflow: hidden;
}


.hero {
  padding: var(--margin-06) 0;
  background-color: var(--blue);
  background-image: url('/static/img/gradient.png');
  background-size: cover;
}

.hero .wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  gap: var(--margin-06);
}

.hero img.logo {
  width: 100%;
  height: auto;
  max-width: 300px;
  display: block;
}

.hero .blog-item {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .hero .blog-item {
    max-width: 300px;
  }
}

.-home .info-block {
  display: flex;
  min-height: 60vh;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: var(--margin-06) 0;
  color: var(--white);
}

.-home .info-block .rich-text {
  margin: 0;
}

.-home .info-block .wrapper {
  display: flex;
}

.-home .info-block.-horizontal .wrapper {
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
}

.-home .info-block.-vertical .wrapper {
  flex-flow: column;
  align-items: center;
}

.-home .info-block img {
  height: auto;
  display: block;
  border-radius: var(--margin-02);
}

.-home .info-block.-vertical img {
  width: 50%;
  max-width: 500px;
  margin-bottom: var(--margin-04);
}

.-home .info-block.-horizontal img {
  flex: 1 0 auto;
  max-width: 480px;
  margin-right: var(--margin-04);
}

.page.-home .info-block.when {
  background: linear-gradient(to right, #32c3c4, #24afc9);
}

.page.-home .info-block.who {
  background: var(--white);
  color: var(--black);
}

.-home .info-block:nth-child(odd) {
  background: var(--green);
}

.-home .info-block:nth-child(even) {
  background: var(--purple);
}

@media screen and (max-width: 800px) {
  .-home .info-block.-horizontal .wrapper {
    flex-flow: column;
  }

  .-home .info-block.-horizontal img {
    width: 100%;
    margin: 0;
    margin-bottom: var(--margin-02);
  }
}

#contact {
}

#contact .wrapper {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: center;
  padding: 0;
  width: 100%;
  min-height: calc(100vh - 70px);
  max-width: none;
}

#contact .rich-text-container {
  /* text-align: center; */
  flex: 1 1 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: var(--margin-10) var(--margin-04);
}

#contact .rich-text {
  max-width: 48ch;
}

#contact .map-container {
  border-radius: 0px var(--margin-04) 0px 0px;
  overflow: hidden;
  flex: 0 1 50%;
  background: whitesmoke;
}

#contact .map-container iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  #contact .wrapper {
    flex-flow: column;
  }

  #contact .map-container {
    width: 100%;
    min-height: 50vh;
    flex: 1 1 auto;
  }
}

.pagination {
  margin-top: var(--margin-04);
}

.pagination .wrapper,
.pagination .step-links,
.pagination a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: var(--purple);
  transition: all 0.2s ease;
}

.pagination a:hover {
  color: var(--dark-purple);
}

.therapy-grid {
  width: 100%;

  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */

  display: grid;
  grid-gap: var(--margin-04);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.therapy-grid > .-maximize {
  grid-column: 1/-1;
}

.therapy-grid .therapy-card {
}

@media screen and (max-width: 700px) {
  .therapy-grid {
    max-width: 300px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
}

.therapy-card {
  flex: 0 1 300px;
  width: auto;
  height: 100%;
}

.therapy-card a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--margin-02);
  padding: var(--margin-04) var(--margin-02);
  background: var(--green);
  color: var(--white);
  text-decoration: none;
}

.therapy-card .icon-wrapper {
  --aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
  max-width: 150px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding-top: calc((1 / (var(--aspect-ratio))) * 100%);
  margin-bottom: var(--margin-04);
}

.therapy-card img {
  padding: var(--margin-02);
  width: calc(100% - var(--margin-02));
  height: auto;
  display: block;
  object-fit: contain;
}

.therapy-card h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: var(--margin-01);
}

.therapy-card p {
  min-height: 120px;
}

@media screen and (max-width: 800px) {
  .therapy-card {
    margin: 0;
    width: 100%;
  }

  .therapy-card p {
    min-height: 0px;
  }
}

@supports (aspect-ratio: 1) {
  .therapy-card .icon-wrapper {
    aspect-ratio: var(--aspect-ratio);
    padding-top: initial;
  }
}

.therapist-list-wrapper {
  padding-top: var(--margin-04);
  padding-bottom: var(--margin-04);
  min-height: 60vh;
}

.therapist-list-wrapper > .rich-text-container {
  margin-bottom: var(--margin-04);
}
.therapist-list-wrapper > .rich-text-container .rich-text {
  max-width: 68ch;
  margin: auto;
}

.therapist-list {
  max-width: 1320px;
  margin: auto;
  display: grid;
  grid-gap: var(--margin-04);
  grid-template-columns: repeat(2, 1fr);
}

.therapist-item {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: var(--margin-02);
  overflow: hidden;
  /* padding: var(--margin-02) var(--margin-02); */

  background-color: var(--blue);
  background-image: url('/static/img/gradient.png');
  background-size: cover;
}

.therapist-item:not(:last-child) {
  /* margin-right: var(--margin-05); */
}

/* .therapist-item:nth-child(odd) { */
/*   flex-flow: row-reverse; */
/* } */

.therapist-item .rich-text-container {
  flex: 1 1 40%;
  display: flex;
  flex-flow: column;
  margin-top: 0;
  padding: var(--margin-08) var(--margin-04);
  color: var(--dark-purple);
  align-items: center;
  justify-content: center;
}

.therapist-item a {
  color: var(--purple);
  transition: color 0.2s ease;
}

.therapist-item a:hover {
  color: var(--blue);
}

.therapist-item:not(:last-child) {
  /* margin-bottom: var(--margin-06); */
}

.therapist-item:nth-child(odd) img {
  /* border-radius: 71% 29% 50% 50% / 40% 27% 73% 60%; */
}

.therapist-item:nth-child(even) img {
  /* border-radius: 42% 58% 67% 33% / 38% 30% 70% 62%; */
}

.therapist-item img {
  width: 300px;
  height: 100%;
  background: var(--blue);
  object-fit: cover;
  /* border-radius: 50%; */
}
.therapist-item .whats-app svg {
  height: 25px;
  width: auto;
  display: block;
}

.therapist-item .rich-text-container {
}

@media screen and (max-width: 1200px) {
  .therapist-item {
    align-items: stretch;
    flex-flow: column;
  }

  .therapist-item .rich-text-container {
    padding: var(--margin-05) var(--margin-02);
  }

  .therapist-item img {
    height: auto;
    width: 100%;
    max-height: 300px;
    /* margin-right: 0; */
    /* margin-bottom: var(--margin-04); */
  }
}

@media screen and (max-width: 800px) {
  .therapist-list-wrapper {
    padding: var(--margin-02) var(--margin-02);
    padding-bottom: var(--margin-04);
  }

  .therapist-list {
    /* display: flex; */
    /* flex-flow: column; */
    grid-template-columns: repeat(1, 1fr);
  }
}

.page.-blog-list {
  padding-bottom: var(--margin-04);
}

.page.-blog-list .hero {
  margin-bottom: var(--margin-04);
}

.blog-filter {
  text-align: center;
  color: var(--purple);
  font-size: 2em;
  margin-bottom: var(--margin-04);
}

.blog-list {
  width: 100%;
  display: grid;
  grid-gap: var(--margin-04);
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* margin-top: var(--margin-06); */
}

.blog-item {
  display: flex;
  flex-flow: column;
}

.blog-item .item-cover {
  display: block;
  height: 300px;
  overflow: hidden;
  border-radius: var(--margin-02) var(--margin-02) 0 0;
}

.blog-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.blog-item .rich-text {
  flex: 1 0 auto;
  margin: 0;
  border: 2px solid var(--light-gray);
  border-top: none;
  background: var(--white);
  padding: var(--margin-02);
  padding-bottom: var(--margin-04);
  border-radius: 0 0 var(--margin-02) var(--margin-02);
}

@media screen and (min-width: 700px) {
  .blog-item.-horizontal {
    flex-flow: row;
    overflow: hidden;
  }

  .blog-item.-horizontal .item-cover {
    border-radius: var(--margin-02) 0 0 var(--margin-02);
    flex: 0 0 auto;
  }

  .blog-item.-horizontal .rich-text {
    flex: 1 1 50%;
    border-radius: 0 var(--margin-02) var(--margin-02) 0;
    border: 2px solid var(--light-gray);
    border-left: none;
  }
  .blog-item.-horizontal img {
    width: auto;
    height: 300px;
    display: block;
    object-fit: cover;
  }
}

.page.-blog-detail {
  padding-bottom: var(--margin-04);
}

.-blog-detail .hero h1 {
  margin-top: var(--margin-04);
}

.-blog-detail .hero .entry-info {
  margin-top: var(--margin-02);
  padding-top: var(--margin-02);
  border-top: 2px solid var(--black);
  display: flex;
  flex-flow: row;
}

.-blog-detail .hero .entry-info a {
  color: var(--black);
}

.-blog-detail .hero .entry-info a:not(:last-child) {
  margin-right: var(--margin-02);
}

.-blog-detail .content {
  max-width: 750px;
}

.-blog-detail .blog-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: var(--margin-04);
  margin-bottom: var(--margin-04);
  border-radius: var(--margin-02);
}

.-blog-detail .tags {
  margin-top: var(--margin-04);
}

.-blog-detail .tags,
.-blog-detail .tag-list {
  display: flex;
  flex-flow: row;
}

.-blog-detail .tag-list {
  flex-flow: row wrap;
}

.-blog-detail .tags span {
  margin-right: var(--margin-01);
}

.-blog-detail .tags li:not(:last-child) {
  margin-right: var(--margin-h);
}

.-blog-detail .tags a {
  color: var(--purple);
  transition: color 0.2s ease;
}

.-blog-detail .tags a:hover {
  color: var(--blue);
}

.-blog-detail .social-share {
  display: flex;
  flex-flow: row;
  margin-bottom: var(--margin-04);
}

.-blog-detail .-button {
  color: var(--white);
  width: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--margin-01);
  padding: var(--margin-01) var(--margin-02);
  text-decoration: none;
}

.-blog-detail .-button svg {
  margin-right: var(--margin-01);
}

.-blog-detail .social-share .-button:not(:last-child) {
  margin-right: var(--margin-02);
}

.-blog-detail .twitter-share {
  background: var(--tw);
}

.-blog-detail .facebook-share {
  background: var(--fb);
}

@media screen and (max-width: 800px) {
  .-blog-detail .hero .entry-info {
    flex-flow: column;
  }
  .-blog-detail .entry-date {
    margin-bottom: var(--margin-02);
  }
}




/*# sourceMappingURL=../main.map*/