{% load solo_tags %}
{% get_solo 'cms.Site' as site_config %}

{% url 'home' as home_path %}

<footer id="footer">
  <div class="wrapper">
    <div class="footer-info">
      {% if site_config.footer_message %}
      <p>
      {{ site_config.footer_message }}
      </p>
      {% endif %}
      <p>
      {% now "Y" %}
      </p>
    </div>


    <div class="contact-list">
      <a href="{{ home_path }}#agendar-cita">
        {% include 'cms/svg/phone.svg'%}
        <span>Llámanos y agendamos tu terapia.</span>
      </a>

      <a href="mailto:{{ site_config.email }}">
        {% include 'cms/svg/mail.svg'%}
        <span>{{ site_config.email }}</span>
      </a>
    </div>

  </div>
</footer>
