{% load static %}
{% load solo_tags %}
{% get_solo 'cms.Site' as site_config %}

{% url 'home' as home_path %}
{% url 'entry-list' as blog_path %}
<header id="header">
  <div class="wrapper">
    <a class="logo" href="{% url 'home' %}">
      <img src="{% static "img/logo.svg" %}" alt="illic">
    </a>
    <nav>
      <ul class="navigation-menu">
        <li><a class="{% if home_path == request.path %}-active{% endif %}" href="{{ home_path }}">{% include 'cms/svg/home.svg' %} <span>Inicio</span></a></li>
        <li><a href="{{ home_path }}#agendar-cita">{% include 'cms/svg/phone.svg'%} <span>Agendar Cita</span></a></li>
        <li><a class="{% if blog_path in request.path %}-active{% endif %}" href="{{ blog_path }}">{% include 'cms/svg/book-open.svg' %} <span>Blog</span></a></li>
        <li><a rel="noopener noreferrer" target="_blank" class="social twitter" href="{{ site_config.twitter }}">{% include 'cms/svg/twitter.svg' %}</a></li>
        <li><a rel="noopener noreferrer" target="_blank" class="social facebook" href="{{ site_config.facebook }}">{% include 'cms/svg/facebook.svg' %}</a></li>
        <li><a rel="noopener noreferrer" target="_blank" class="social instagram" href="{{ site_config.instagram }}">{% include 'cms/svg/instagram.svg' %}</a></li>

      </ul>
    </nav>
  </div>
</header>
